repos:
  - repo: local
    hooks:
      - id: go-lint
        name: golangci-lint (in docker)
        entry: make lint
        language: system
        types: [go]
        pass_filenames: false
      - id: go-fmt
        name: go fmt
        entry: go fmt ./...
        language: system
        types: [go]
        pass_filenames: false
      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        types: [go]
        pass_filenames: false
